@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply p-0;
	@apply m-0;
	@apply font-body;
	@apply bg-dark-grey;
	@apply text-white;
}

* {
	@apply box-border;
}

h1,
h2,
h3 {
	line-height: 110% !important;
}

p {
	line-height: 140% !important;

	a {
		@apply border-b;

		&:hover {
			@apply border-b-0;
		}
	}
}

::selection {
	@apply bg-mint;
	@apply text-white;
}

.player-wrapper {
	position: relative;
	padding-top: 56.25%;
	/* Player ratio: 100 / (1280 / 720) */
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}